# package directories
node_modules/
.sonarlint/
# module dynamo local
dynamodb/dynamodb-local
# Serverless directories
.serverless/
.dynamodb
# files
.DS_Store
.env
# tests
coverage/
dynamodb/shared-local-instance.db
